extends layout
block content
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top
          .container
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Teach Hub
            .nav-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/') Home
                li
                  a(href='/about') About
                li
                  a(href='/contact') Contact
      .container
          h2.featurette-heading
            | About
          p Schools pay LESS, Supply teachers get paid MORE. 
          p TeachHub is revolutionising the supply teacher recruitment system, and giving both schools and teachers a break; we provide an online service for schools to search and book supply teachers right when they need them, and allow supply teachers to find short and longer-term teaching jobs at a time and in an area that is convenient for them. 