extends layout
block content
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top
          .container
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Teach Hub
            .nav-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/') Home
                li
                  a(href='/about') About
                li
                  a(href='/contact') Contact
      .container
          h2.featurette-heading
            | About
          h2 We are focussed on the short-term cover market for teachers
          p Schools pay LESS, Supply teachers get paid MORE. 
          p Supply teachers in the UK are getting squeezed by agencies taking a third of their daily rate, without even providing the work teachers want on a day-to-day basis. We are not an agency, we are a solution to provide that real-time cover work to teachers who want to earn more every day they teach, and get work when and where it is available. 
          p TeachHub is revolutionising the supply teacher recruitment system, and giving both schools and teachers a break; we provide an online service for schools to search and book supply teachers right when they need them, and allow supply teachers to find short and longer-term teaching jobs at a time and in an area that is convenient for them. 