extends layout
block content
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top
          .container
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Teach Hub
            .nav-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/') Home
                li
                  a(href='/about') About
                li
                  a(href='/contact') Contact
      .container
          h2.featurette-heading
            | Contact
          p Got any questions for us?
          a(href="mailto:teachhubsignup@gmail.com") Email Us!