extends layout
block content
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top
          .container
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Teach Hub
            .nav-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/') Home
                li
                  a(href='/about') About
                li
                  a(href='/contact') Contact
      .container
          h2.featurette-heading
            | Contact
            span.text-muted &nbsp; Got any questions for us?
            br
          form.form-horizontal(method="post", action="/sendMessage")
            div.form-group
              label(for="name", class="col-lg-2 control-label") Name
              .col-lg-5
                input(type="text", class="form-control", id="name", placeholder="", name="name", required)
            div.form-group 
              label(for="email", class="col-lg-2 control-label") Email
              .col-lg-5
                input(type="text", class="form-control", id="email", placeholder="", name="email", required)
            div.form-group
              label(for="messageText", class="col-lg-2 control-label") Message
              .col-lg-5
                textarea(type="text", class="form-control", id="messageText", placeholder="", required, rows="10", name="messageText")
            div.form-group
             label(for="submit", class="col-lg-2 control-label") 
             .col-lg-5
               input(type="submit", name="submit", class="btn btn-default", ) Register