extends layout
block content
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top
          .container
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Teach Hub
            .nav-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/') Home
                li
                  a(href='/about') About
                li
                  a(href='/contact') Contact
      .container
          h2.featurette-heading
            | Sign up today
            span.text-muted &nbsp; The last agency you'll subscribe to
          form.form-horizontal(method="post", action="/teacher/signedup")
            div.form-group
              label(for="name", class="col-lg-2 control-label") Name
              .col-lg-5
                input(type="text", class="form-control", id="name", placeholder="Name", name="name", required)
            div.form-group
              label(for="location", class="col-lg-2 control-label") Post Code
              .col-lg-5
                input(type="text", class="form-control", id="location", placeholder="Where are you based?", required)
            div.form-group
              label(for="distance", class="col-lg-2 control-label") Distance willing to travel?
              .col-lg-2
                select(id="distance", class="form-control", name="distance")
                  option 5 miles
                  option 10 miles
                  option 15 miles
                  option 20 - 50 miles
            div.form-group 
              label(for="contactNumber", class="col-lg-2 control-label") Contact Number
              .col-lg-5
                input(type="text", class="form-control", id="contactNumber", placeholder="How should we contact you?", name="contactNumber", required)
            div.form-group 
              label(for="email", class="col-lg-2 control-label") Email
              .col-lg-5
                input(type="text", class="form-control", id="email", placeholder="What's your email address?", name="email", required)
            div.form-group 
              label(for="primary", class="col-lg-2 control-label") Primary Subject Area
              .col-lg-5
                select(id="primary", class="form-control", name="primary")
                  option Arabic
                  option Art and Design
                  option Art and Fashion
                  option Biology
                  option Business Studies
                  option Chemistry
                  option Classical Civillisation
                  option Computing
                  option Drama and Theatre Studies
                  option Economics
                  option English Literature
                  option English Language
                  option Film Studies
                  option Film and Video
                  option French
                  option Graphic Design
                  option Geography
                  option German
                  option Government and Politics
                  option Graphic Design
                  option History
                  option History of Art
                  option Information Technology
                  option Japanese
                  option Latin
                  option Law
                  option Mathmatics
                  option Further Mathmatics
                  option Modern Languages
                  option Media Studies
                  option Philiosophy
                  option Photography
                  option Physics
                  option Psychology
                  option Religious Studies
                  option Science
                  option Sociology
                  option Spanish
            div.form-group 
              label(for="secondary", class="col-lg-2 control-label") Secondary Subject Area
              .col-lg-5
                select(id="secondary", class="form-control", name="secondary")
                  option Arabic
                  option Art and Design
                  option Art and Fashion
                  option Biology
                  option Business Studies
                  option Chemistry
                  option Classical Civillisation
                  option Computing
                  option Drama and Theatre Studies
                  option Economics
                  option English Literature
                  option English Language
                  option Film Studies
                  option Film and Video
                  option French
                  option Graphic Design
                  option Geography
                  option German
                  option Government and Politics
                  option Graphic Design
                  option History
                  option History of Art
                  option Information Technology
                  option Japanese
                  option Latin
                  option Law
                  option Mathmatics
                  option Further Mathmatics
                  option Modern Languages
                  option Media Studies
                  option Philiosophy
                  option Photography
                  option Physics
                  option Psychology
                  option Religious Studies
                  option Science
                  option Sociology
                  option Spanish
            div.form-group
              label(for="level", class="col-lg-2 control-label") Level capable of teaching to (state all)
              .col-lg-5
                input(type="checkbox", name="level", value="Primary")
                | &nbsp; Primary&nbsp; &nbsp; &nbsp; 
                input(type="checkbox", name="level", value="Secondary")
                | &nbsp; Secondary&nbsp; &nbsp; &nbsp; 
                input(type="checkbox", name="level", value="16")
                | &nbsp; 16 +&nbsp; &nbsp; &nbsp; 
            input(type="submit", name="submit", class="btn btn-default", ) Register

        hr.featurette-divider
      .container 
        footer
          p.pull-right
            a(href='#') Back to top
          p
            | © 2013 Teach Hub ·

